<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <form method="POST" style="text-align: center;">
        <input type="text" name="to" placeholder="Type Number"><br>
        <input type="number" name="money" id="money"><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>