<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <a href="/register"> Register Admin</a>
    <a href="/Adminlogin"> Admin Login</a>
    <a href="/dealer/getSimCard"> Get New Simcard</a>

</body>
</html>